@page
@model IEnumerable<ReturnAuthorization>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
@if (TempData["ResultOk"] != null)
{
    <div id="alert-div" class="alert alert-success position-fixed top-0 end-0 border border-success rounded-pill py-2 px-3" style="max-width: 450px;">
        <span class="fw-bold" style="font-size: 16px;">@TempData["ResultOk"]</span>
        <button type="button" class="btn-close float-start" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        var alertDiv = document.getElementById("alert-div");
        setTimeout(function () {
            alertDiv.style.display = "none";
        }, 3000);
    </script>
}


<div class="container">
    <div class="row align-items-center mb-4">
        <!-- Tiêu đề danh sách bên trái -->
        <div class="col-auto">
            <h4 class="list-title">Danh sách đơn hàng trả lại</h4>
        </div>
        <!-- Nút thêm mới -->
        <div class="col-auto ms-3">
            <a asp-controller="ReturnAuthorization" asp-action="Create" class="btn btn-custom-sea">
                Thêm đơn hàng trả lại
            </a>
        </div>
    </div>
    <br />
    <div class="table-responsive custom-table-container">
        <table id="customerDatatable" class="ant-table custom-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Action</th>
                    <th>No</th>
                    <th>Tên đơn trả lại</th>
                    <th>Mã đặt hàng</th>
                    <th>Tiền trả lại</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/returnAuthorizationdatatable.js"></script>
}