@page
@model IEnumerable<PurchaseContractDetails>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<div class="container">
    <br />
    <div class="table-responsive custom-table-container">
        <table id="customerDatatable" class="ant-table ant-table-bordered ant-table-striped ant-table-responsive custom-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>STT</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Tax Amount</th>
                    <th>Price</th>
                    <th>Discount Amount</th>
                    <th>Total Amount</th> <!-- Cột cần tính tổng -->
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th> <!-- Chỉ định vị trí hiển thị tổng -->
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/reportViewfdatatable.js"></script>
}