@page
@model IEnumerable<PurchaseContractDetails>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<div class="container">
    <div class="row align-items-center mb-4">
        <!-- Tiêu đề danh sách bên trái -->
        <div class="col-auto">
            <h4 class="list-title">Báo cáo trả hàng</h4>
        </div>
    </div>
    <br />
    <div class="table-responsive custom-table-container">
        <table id="customerDatatable" class="ant-table ant-table-bordered ant-table-striped ant-table-responsive custom-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>STT</th>
                    <th>Tên hàng hoá</th>
                    <th>Số lượng</th>
                    @* <th>Thuế</th> *@
                    <th>Giá</th>
                    @* <th>Chiết khấu</th> *@
                    <th>Tổng tiền hàng</th> <!-- Cột cần tính tổng -->
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
 <!-- Chỉ định vị trí hiển thị tổng -->
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/reportViewfdatatable.js"></script>
}