# macOS
.DS_Store

# Visual Studio / Rider / VS for Mac
.vs/
.idea/
*.user
*.suo

# VS Code
.vscode/

# Build results
**/bin/
**/obj/
**/Debug/
**/Release/
**/TestResults/

# ASP.NET / publish
*.log

# Backup / system
Thumbs.db
