@page
@model IEnumerable<Inventory>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/antd/dist/antd.css">
<link href="~/css/datatable.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
@if (TempData["ResultOk"] != null)
{
    <div id="alert-div" class="alert alert-success position-fixed top-0 end-0 border border-success rounded-pill py-2 px-3" style="max-width: 450px;">
        <span class="fw-bold" style="font-size: 16px;">@TempData["ResultOk"]</span>
        <button type="button" class="btn-close float-start" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        var alertDiv = document.getElementById("alert-div");
        setTimeout(function () {
            alertDiv.style.display = "none";
        }, 3000);
    </script>
}

<div class="col m-3">
    <a asp-controller="Inventory" asp-action="Create" class="btn btn-custom-sea">Thêm kho hàng</a>
</div>

<div class="container">
    <br />
    <div class="table-responsive custom-table-container">
        <table id="customerDatatable" class="ant-table custom-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Action</th>
                    <th>No</th>
                    <th>Mã kho</th>
                    <th>Tên kho</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/inventorydatatable.js"></script>
}