/* Nút thêm mới */
/* Căn chỉnh và làm nổi bật nút Thêm mới */

/* Bảng */
/* Bảng */
.custom-table-container {
  padding: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /*margin-top: 20px;*/ /* Khoảng cách giữa nút và bảng */
}

.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px; /* Khoảng cách giữa các hàng */
  font-family: Arial, sans-serif;
}

.custom-table thead th {
  background-color: #1e90ff;
  color: #ffffff;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 1px;
}

.custom-table tbody td {
  padding: 12px;
  text-align: center;
  color: #333;
  background-color: #f9f9f9;
}

.custom-table tbody tr {
  border-radius: 5px;
}

.custom-table tbody tr:hover {
  background-color: #d6eaf8;
  transition: background-color 0.3s ease-in-out;
}

/* Hiệu ứng */
.table-responsive {
  min-height: 410px;
  overflow-x: hidden;
  border-radius: 8px;
}

.badge {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}

.badge-success {
  background-color: #28a745;
  box-shadow: 0 2px 6px rgba(40, 167, 69, 0.4);
}

.badge-danger {
  background-color: #dc3545;
  box-shadow: 0 2px 6px rgba(220, 53, 69, 0.4);
}

.badge-secondary {
  background-color: #6c757d;
  box-shadow: 0 2px 6px rgba(108, 117, 125, 0.4);
}

.badge:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* Nút thêm mới */
.btn-custom-sea {
  background-color: #4cafeb; /* Màu xanh biển nhạt */
  background-image: linear-gradient(
    145deg,
    #4cafeb,
    #1e90ff
  ); /* Hiệu ứng gradient */
  color: #ffffff !important; /* Màu chữ trắng nổi bật */
  padding: 7px 25px; /* Tăng kích thước padding để nút lớn hơn */
  font-size: 14px;
  font-weight: bold; /* In đậm chữ */
  border: none;
  border-radius: 8px; /* Góc bo tròn mạnh để tạo nét hiện đại */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Bóng đổ để nổi bật */
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-custom-sea i {
  font-size: 20px;
  margin-right: 8px; /* Khoảng cách giữa icon và text */
}

.btn-custom-sea:hover {
  background-color: #1e90ff; /* Màu xanh đậm hơn khi hover */
  background-image: linear-gradient(
    145deg,
    #63b8ff,
    #4cafeb
  ); /* Gradient khi hover */
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25); /* Bóng đổ sâu hơn khi hover */
  transform: translateY(-2px); /* Hiệu ứng nổi lên khi hover */
}
